.hero {
  background-image: url("../../assets/Elemento\ 1.png");
  /* position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  height: 100vh;   
  
  MODELO DE ESTILO ANTIGO PARA A IMAGEM FICAR SEMPRE GRANDE NA HORIZONTAL, CASO PRECISO!!*/

  min-height: 900px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
}

.content {
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: aliceblue;
  padding: 20px;
}

.content h1 {
  font-size: 56px;
  font-weight: bolder;
}

.content p {
  font-size: 22px;
  margin: 15px 0;
  max-width: 550px;
  letter-spacing: 2px;
  font-weight: bold;
}
/* .btn__home-container {
} CONTAINER DO BOTÃO*/
.btn__home {
  background: transparent;
  border: 1px solid #dc0808;
  color: #efefef;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  max-width: 170px;
  width: 100%;
  padding: 10px 15px;
  margin-top: 200px;
  transition: transform 0.3s, color 0.3s, background 0.3s;
}

.btn__home:hover {
  transform: scale(1.05);
  color: white;
  background: #dc0808;
}

/* 
.content a {
  color: inherit;
  text-decoration: none;
  background-color: antiquewhite;
  padding: 12px 24px;
  font-size: 22px;
  border-radius: 10px;
}  ESSA ESTILIZAÇÃO, É APENAS SE FOR NECESSÁRIO IMPLEMENTAR UM BOTÃO*/

/* .quadrado {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;

  width: 100px;
} */
/* Home.css */
/* .banner-img-container {
  text-align: center;
}
.banner-img {
  background-image: url("../../assets//Imagens/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media screen and (max-width: 992px) {
  .banner-img {
    width: 360px;
  }
} */

/*For large devices*/

@media screen and (max-width: 992px) {
  .elemento {
    width: 500px;
  }

  .content h1 {
    font-size: 30px;
  }

  .content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 578px) {
  .elemento {
    width: 350px;
  }

  .content h1 {
    font-size: 30px;
  }

  .content p {
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .elemento {
    width: 200px;
  }

  .content h1 {
    font-size: 30px;
  }

  .content p {
    font-size: 15px;
  }
}
