.about__container h1::before {
  content: "";

  position: absolute;

  width: 25%; /* Alterado para width */
  height: 2px; /* Alterado para 2px */
  background-color: #96080c;
  left: 38%; /* Ajuste conforme necessário para o posicionamento horizontal */
  top: 90%; /* Ajuste conforme necessário para o posicionamento vertical */
  transform: translateY(-50%); /* Centraliza verticalmente */
}
.about__container p {
  font-size: 2.5rem;
  padding: 20px;

  width: 1200px;
}

/*--------------------------------BREAKPOINTS-------------------------------------------------*/
@media screen and (max-width: 1210px) {
  .about__container h1 {
    padding: 2rem;
    font-size: 7rem;
    width: 100%;
    position: relative;
  }

  .about__container p {
    font-size: 2rem;
    padding: 20px;

    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about__container {
    margin: 0; /*ISSO DA UMA MARGEM, SE PRECISAR, É APENAS ALTERAR O MARGIN TOP E MARGIN BOTTOM*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333333;
  }

  .about__container h1 {
    padding: 2rem;
    font-size: 7rem;

    position: relative;
  }
  .about__container h1::before {
    content: "";

    position: absolute;

    width: 25%; /* Alterado para width */
    height: 2px; /* Alterado para 2px */

    left: 38%; /* Ajuste conforme necessário para o posicionamento horizontal */
    top: 90%; /* Ajuste conforme necessário para o posicionamento vertical */
    transform: translateY(-50%); /* Centraliza verticalmente */
  }
  .about__container p {
    font-size: 2rem;
    padding: 20px;

    /* width: 700px; */
  }
}

@media screen and (max-width: 768px) {
  .about__container {
    margin: 0; /*ISSO DA UMA MARGEM, SE PRECISAR, É APENAS ALTERAR O MARGIN TOP E MARGIN BOTTOM*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333333;
  }
}
@media screen and (max-width: 578px) {
}

@media screen and (max-width: 430px) {
}

@media screen and (max-width: 414px) {
  .about__container h1 {
    padding: 2rem;
    font-size: 4rem;
    text-align: center;
    position: relative;
  }
  .about__container h1::before {
    content: "";

    position: absolute;

    width: 25%; /* Alterado para width */
    height: 2px; /* Alterado para 2px */

    left: 38%; /* Ajuste conforme necessário para o posicionamento horizontal */
    top: 90%; /* Ajuste conforme necessário para o posicionamento vertical */
    transform: translateY(-50%); /* Centraliza verticalmente */
  }
}

@media screen and (max-width: 350px) {
  .about__container h1 {
    padding: 2rem;
    font-size: 4rem;
    text-align: center;
    position: relative;
  }
  .about__container h1::before {
    content: "";

    position: absolute;

    width: 25%; /* Alterado para width */
    height: 2px; /* Alterado para 2px */

    left: 38%; /* Ajuste conforme necessário para o posicionamento horizontal */
    top: 90%; /* Ajuste conforme necessário para o posicionamento vertical */
    transform: translateY(-50%); /* Centraliza verticalmente */
  }
  .about__container p {
    font-size: 1.6rem;
    padding: 20px;

    /* width: 320px; */
  }
}
