.footer {
  background-color: #ffffff;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.footer__container {
  padding: 2rem 0 6rem;
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  text-align: center;

  color: black;
  font-size: var(--h2-font-size);
}
.name__inovacao {
  color: black;
}
.name__inovacao:hover {
  color: #37a2ca;
}
.btn-contato-whatsapp {
  position: fixed;
  width: 54px;
  height: 53px;
  bottom: 33px;
  right: 29px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 44px;
  box-shadow: 1px 1px 2px #888;
  z-index: 99999999;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Ícone do WhatsApp */
.nav__icon-contato-whats {
  margin-top: 4px;
  margin-left: 11px;
  margin-bottom: 3px;
  width: 60%;
}

/* Hover */
.btn-contato-whatsapp:hover {
  background-color: #37a2ca;
  transform: scale(1.05);
}

/* Adaptação para telas menores */
@media screen and (max-width: 578px) {
  .btn-contato-whatsapp {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 14px;
    right: 29px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 99999999;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .nav__icon-contato-whats {
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 3px;
    width: 60%;
  }
}
